// 
// Sparkler
// SparklerUnitTests.xcconfig
// 
// Created by Eric Czarny on Friday, February 13, 2009.
// Copyright (c) 2009 Divisible by Zero.
// 

PRODUCT_NAME = SparklerUnitTests
INFOPLIST_FILE = Resources/Property Lists/SparklerUnitTests-Info.plist

WRAPPER_EXTENSION=octest

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Sparkler.pch

BUNDLE_LOADER = $(BUILT_PRODUCTS_DIR)/Sparkler.app/Contents/MacOS/Sparkler
TEST_HOST = $(BUNDLE_LOADER)
