<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preference Panes</key>
	<dict>
		<key>General</key>
		<string>SparklerGeneralPreferencePane</string>
		<key>Applications</key>
		<string>SparklerApplicationsPreferencePane</string>
		<key>Update</key>
		<string>SparklerUpdatePreferencePane</string>
	</dict>
	<key>Preference Pane Order</key>
	<array>
		<string>General</string>
		<string>Applications</string>
		<string>Update</string>
	</array>
</dict>
</plist>
